BigQuery Metadata.xlsx
Image_Bank/
*.json.key
Hari ORA Service Account Key.json
*Service Account Key*.json
backend/vendor/
backend/andsons.db
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
__pycache__/
*.pyc
.DS_Store
